@font-face {
  font-family: poppins;
  font-family: port;
  font-family: poppins-reg;
  src: url(font/Poppins-SemiBold.ttf);
  src: url(font/PortLligatSans-Regular.ttf);
  src: url(font/Poppins-Regular.ttf);
}

body {
}
.navbar {
  height: 30px;
  width: 100%;
  position: fixed;
}

.button {
  position: relative;
  float: right;
  margin: 10px 10px;
  z-index: 99;
}

#a,
#b,
#c {
  display: block;
  position: relative;
  background: rgb(20, 20, 20);
  margin: 3px;
}

#a {
  left: 12px;
  width: 18px;
  height: 5px;
}
#b {
  width: 30px;
  height: 5px;
}
#c {
  width: 24px;
  height: 5px;
}

.main {
  position: relative;
  height: 450px;
  display: flex;
}

.bgfoto {
  width: 160px;
  height: 260px;
  top: 130px;
  left: 90px;
  position: absolute;
  background-color: rgb(34, 34, 34);
  z-index: 1;
  box-shadow: 0 0 9px 1px black;
}

#foto {
  position: relative;
  width: 204px;
  height: 310px;
  margin: auto;
  z-index: 2;
}

#memphis1 {
  width: 100px;
  height: 126px;
  position: absolute;
  top: 56%;
  left: 170px;
}
#memphis2 {
  width: 100px;
  height: 126px;
  position: absolute;
  top: 100px;
  left: 30px;
}
#kotak {
  position: absolute;
  top: 17%;
  left: 17%;
  rotate: 30deg;
  z-index: 6;
}
#segitiga {
  position: absolute;
  top: 270px;
  left: 70%;
}
#bunder {
  position: absolute;
  top: 20%;
  left: 220px;
}
#x {
  position: absolute;
  top: 280px;
  left: 17%;
  scale: 1.4;
}

.word {
  position: relative;
}
.helo {
  left: 6%;
  top: -70px;
  letter-spacing: 1px;
  font-family: poppins;
  font-size: 23px;
  position: absolute;
  z-index: 2;
  color: rgb(71, 71, 71);
}

.bayangan {
  top: -65px;
  position: relative;
  left: 10px;
  font-family: poppins;
  font-size: 28px;
  color: white;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}

.name {
  position: relative;
  top: -6px;
}

.container1 {
  position: relative;
  margin: 0 12px;
  height: 400px;
}

.title {
  font-family: port;
  font-size: 14px;
  text-align: center;
}

.blue {
  position: relative;
  display: block;
  width: 37px;
  height: 6px;
  margin: 10px auto 25px;
  background: #03a9f4;
}

p {
  font-family: poppins-reg;
  font-size: 12px;
  letter-spacing: 1px;
  text-indent: 10px;
}

.email {
  position: relative;
  margin-top: 40px;
  width: 100px;
  height: 30px;
  background-color: rgb(136, 191, 255);
  border-radius: 20px;
  text-align: center;
  display: flex;
  left: 10%;
}

#tulisanemail {
  font-size: 12px;
  line-height: 30px;
  color: rgb(255, 255, 255);
}

#iconemail {
  display: flex;
  margin: auto 0;
  margin-right: 5px;
}

#iconemail img {
  position: relative;
  left: 5px;
  width: 15px;
  height: 15px;
  padding: 2px;
  margin-right: 5px;
}

.container2 {
  height: 600px;
  position: relative;

  width: 100%;
}

.skill {
  text-align: center;
}
.contpersen {
  margin-left: 20px;
  margin-top: 30px;
}

.item1,
.item2 {
  position: relative;

  margin-top: 20px;
}
#kemampuan1,
#kemampuan2 {
  position: relative;
  font-size: 13px;
  font-family: poppins-reg;
}
#ovaldasar1,
#ovaldasar2 {
  display: block;
  width: 222px;
  height: 10px;
  background: #e9e9e9;
  border-radius: 40px;
}
#ovalwarna1 {
  display: block;
  width: 143px;
  height: 10px;
  background: #8e9aff;
  border-radius: 40px;
}
#ovalwarna2 {
  display: block;
  width: 60px;
  height: 10px;
  background: #8e9aff;
  border-radius: 40px;
}

.containertool {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 40px;
}

.kotak1 {
  position: relative;
  width: 120px;
  height: 120px;
  background: #eeeeee;
  border-radius: 40px;
  display: flex;
}

.kotak1 img {
  margin: auto;
  width: 50%;
  height: 50%;
}

.kotak1 #html,
#css,
#php,
#winbox {
  width: 60%;
  height: 60%;
}

.footer {
  background-color: rgb(24, 24, 24);
  position: relative;
  display: flex;
  justify-content: center;
  height: 60px;
}
.contact {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 30%;
  left: 75%;
  z-index: 5;
}
.bunder1,
.bunder2,
.bunder3,
.bunder4 {
  background-color: rgb(53, 53, 53);
  width: 35px;
  height: 35px;
  border-radius: 50%;

  margin: auto 0;
  margin-left: 5px;
  display: flex;
}

a {
  display: block;
  background-color: rgb(53, 53, 53);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 5px;

  display: flex;
}
.bunder1 img {
  width: 20px;
  height: 20px;
  margin: auto;
}
.bunder2 img {
  width: 20px;
  height: 20px;
  margin: auto;
}
.bunder3 img {
  width: 20px;
  height: 20px;
  margin: auto;
}
.bunder4 img {
  width: 23px;
  height: 23px;
  margin: auto;
}

.containerwhy {
  position: relative;
  display: flex;
  width: 100%;
  height: 500px;
}

.head {
  position: relative;
  margin: 50px auto;
}
.why1 {
  margin-top: 20px;
  width: 110px;
  height: 110px;
}
